/* B A N N E R */

.hero-unit-oferta {
  background:  #fbfbfb url(../img/banner-oferta-2.png) no-repeat center center;
  background-size: cover;
  color: #fff;
}

.hero-unit-oferta h2 {
    color: #fff;
    margin: 2em 0;
    text-align: left;

  }

section h2 {
  text-align: left;
  margin-bottom: 1em;
}

/* S E C T I O N S */
.zakres-uslug img {
  padding: 0;
  transition: .5s ease-in-out;
}
img {
  margin: 0em auto!important;
  margin-left: 100px;
}
.zakres-uslug .row {
  /*box-shadow: 0px 0px 10px #444;*/
  margin-bottom: 0;
 /* border: 1px solid #ddd;*/
}
.zakres-uslug .image {
  display: none;
}
.zakres-uslug .row div {
  overflow: hidden;
}
.zakres-uslug img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.zakres-uslug h2 {
  /* font-size: 2em; */
  /* color: #d44827; */
  margin-bottom: 10px;
}
.zakres-uslug .col-sm-6 {
  padding: 0 2em;
}
.col-sm-4 {
  padding: 0;
}

.zakres-uslug .row:nth-child(even) h2 {
  /*text-align: right;*/
}

@media screen and (min-width: 992px) {

  .zakres-uslug .image {
    display: block;
  }

}


